#page-wrapper {
  margin-top: 80px;
}

.channel-item {
  text-align: center;
}

.channels-control {
  margin: 8px 0 0 0;
}

.block {
  margin: 5px;
}

#qr {
  text-align: center;
}

#custom-blocks {
  overflow: auto;
}
